PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE user (
	id INTEGER NOT NULL, 
	username VARCHAR(30) NOT NULL, 
	email_address VARCHAR(50) NOT NULL, 
	password_hash VARCHAR(60) NOT NULL, 
	google_credentials JSON, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email_address)
);
INSERT INTO user VALUES(2,'iasonas','fdas@gmail.com','pbkdf2:sha256:600000$F98tI1mOQ51MH57p$18f1e7b7b0158e0424a7d721b6b2fea5194203cf160b5950d3f1eef30fde3f61',NULL);
CREATE TABLE IF NOT EXISTS "deviceType" (
	"deviceType" VARCHAR(50), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
INSERT INTO deviceType VALUES('DESKTOP',1,1,112,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,69.0,38.39000000000000056,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,130,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO deviceType VALUES('TV',2,1,9,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,25.0,18.87999999999999901,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,3,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO deviceType VALUES('MOBILE',3,1,95,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,42.0,14.55000000000000249,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,67,NULL,NULL,0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE day (
	day DATE, 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
INSERT INTO day VALUES('2023-01-01',1,1,1,NULL,0,0,0.0,0,0,0.0,0,NULL,23.0,38.10000000000000142,0.0,0,0,0.0,0,0,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,0,0,0,NULL);
INSERT INTO day VALUES('2023-01-06',2,1,1,NULL,0,0,0.0,0,0,0.0,0,NULL,34.0,54.96999999999999887,0.0,0,0,0.0,0,0,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,0,0,0,NULL);
INSERT INTO day VALUES('2023-01-17',3,1,1,NULL,0,0,0.0,0,0,0.0,0,NULL,7.0,3.439999999999999947,0.0,0,0,0.0,0,0,0,NULL,0,0,0,NULL,0,NULL,NULL,0,0,0,0,0,NULL);
CREATE TABLE gender (
	gender VARCHAR(10), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
CREATE TABLE sharing_service (
	"sharingService" VARCHAR(50), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
CREATE TABLE uploader_type (
	"uploaderType" VARCHAR(50), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
CREATE TABLE video (
	video VARCHAR(100), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
INSERT INTO alembic_version VALUES('972f497bf6a2');
CREATE TABLE month (
	month VARCHAR(10), 
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	views INTEGER, 
	"adImpressions" INTEGER, 
	"annotationClickableImpressions" INTEGER, 
	"annotationClicks" INTEGER, 
	"annotationClickThroughRate" FLOAT, 
	"annotationClosableImpressions" INTEGER, 
	"annotationCloses" INTEGER, 
	"annotationCloseRate" FLOAT, 
	"annotationImpressions" INTEGER, 
	"audienceWatchRatio" FLOAT, 
	"averageViewDuration" FLOAT, 
	"averageViewPercentage" FLOAT, 
	"cardClickRate" FLOAT, 
	"cardClicks" INTEGER, 
	"cardImpressions" INTEGER, 
	"cardTeaserClickRate" FLOAT, 
	"cardTeaserClicks" INTEGER, 
	"cardTeaserImpressions" INTEGER, 
	comments INTEGER, 
	cpm FLOAT, 
	dislikes INTEGER, 
	"estimatedMinutesWatched" INTEGER, 
	likes INTEGER, 
	"playbackBasedCpm" FLOAT, 
	"playlistStarts" INTEGER, 
	"savesAdded" INTEGER, 
	"savesRemoved" INTEGER, 
	shares INTEGER, 
	"subscribersGained" INTEGER, 
	"subscribersLost" INTEGER, 
	"videosAddedToPlaylists" INTEGER, 
	"videosRemovedFromPlaylists" INTEGER, 
	"viewerPercentage" FLOAT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES user (id)
);
COMMIT;
