{% extends 'base.html' %}

{% block title %}
    Analytics
{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% for table_name, table_data in tables_data.items() %}
            <h2>{{ table_name }} Data</h2>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        {% for column in table_data.columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in table_data.rows %}
                        <tr>
                            {% for column in table_data.columns %}
                                <td>{{ getattr(item, column) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
