<!-- templates/change_password.html -->
{% extends 'base.html' %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-change-password" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="{{ url_for('static', filename='YouTube Analytics Logo.png') }}" alt="YouTube Analytics Logo" style="width: 200px;">
            <h1 class="h3 mb-3 font-weight-normal">
                Change Your Password
            </h1>
            <br>
            {{ form.current_password.label() }}
            {{ form.current_password(class="form-control", placeholder="Current Password") }}

            {{ form.new_password.label() }}
            {{ form.new_password(class="form-control", placeholder="New Password") }}

            {{ form.confirm_new_password.label() }}
            {{ form.confirm_new_password(class="form-control", placeholder="Confirm New Password") }}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
        <br>
        <a class="btn btn-lg btn-secondary btn-block" href="{{ url_for('profile_page') }}">Back to Profile</a>
    </div>
</body>
{% endblock %}
